input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
  font-size: 14px;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-size: 14px;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  font-size: 14px;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
  font-size: 14px;
}
