#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: filter 0.3s;
}
.van-overflow-hidden #app {
  filter: blur(5px);
}
.container {
  padding: 8px 12px;
  display: flex;
}
.u-text-overflow1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.u-text-overflow2,
.u-text-overflow3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.u-text-overflow3 {
  -webkit-line-clamp: 3;
}
.u-clear {
  &::after {
    content: '';
    display: table;
    height: 0;
    clear: both;
  }
}
.u-margin-fix {
  &::before {
    content: '';
    overflow: hidden;
    display: block;
  }
}
.u-vertical {
  &::before {
    content: '';
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    visibility: hidden;
    display: inline-block;
  }
}
.line {
  height: 4px; /* no */
  display: block;
  width: 100%;
  transition: all 0.2s;
  background-color: var(--line-color);
}
.buy-color,
.red-color {
  color: var(--buy-color) !important;
}
.sell-color,
.green-color {
  color: var(--sell-color) !important;
}
.buy-bg {
  background: var(--buy-color) !important;
}
.sell-bg {
  background: var(--sell-color) !important;
}
.gray-color {
  color: var(--gray-color) !important;
}
.up-animation {
  animation: 2s ease 0s normal none infinite running up-animation;
}
.down-animation {
  animation: 2s ease 0s normal none infinite running down-animation;
}
@keyframes up-animation {
  0% {
    transform: translateY(4px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes down-animation {
  0% {
    transform: translateY(-4px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(4px);
    opacity: 0;
  }
}
.van-skeleton {
  border-bottom: 1px solid var(--border-color);
  /* no */
  padding: 10px 15px;
  @include dark {
    .van-skeleton__row,
    .van-skeleton__title,
    .van-skeleton__avatar {
      background: #312e3d;
    }
  }
}
.van-search{
  background:var(--default-bg) !important;
}
.van-cell {
  background: var(--default-bg);
  color: var(--theme-color);
}
[class*='van-hairline']::after,
.van-cell:not(:last-child)::after {
  border-color: var(--border-color);
}
.submit {
  margin-top: 10px;
  height: 40px;
  line-height: 38px;
  background: var(--primary-color);
  border-color: var(--primary-color);
  margin-right: 10px;
  width: 90%;
  margin-left: 5%;
}
.van-toast--middle,.van-toast{
  z-index: 4000 !important;
}
/* 弹窗路由公用动画效果 */
.popup-router-fade-enter-active {
  transition: all 0.3s ease;
}
.popup-router-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.popup-router-fade-enter,
.popup-router-fade-leave-to {
  transform: translateX(-200px);
  opacity: 0;
}

.hover-active-user,
.hover-active-list {
  opacity: 0.7;
}
.hover {
  transition: all 0.4s;
}
.fade-leave-active {
  transition: all 0.5s;
}
.fade-leave-to {
  transform: translateX(50%);
  opacity: 0;
}

//community
.hover-active-user{
  opacity:.8;
}
// 默认头像
.default-avatar-placeholder{
  background:#ccc;
}
//默认图片
.default-figure-placeholder{
  background:#ccc;
  filter: none !important;
}
.van-picker {
  [class*='van-hairline']::after,
  .van-cell:not(:last-child)::after {
    border-color: #e9e9ec !important;
  }
  .van-picker__toolbar::after {
    border: none !important;
  }
}

// 弹窗
.m-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
  background-color: rgba(17, 19, 23, 0.7);
}

.m-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 4000;
  transform: translate(-50%, -50%);
  width: 300px;
  background: #f3f7f8;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  .m-popup-close {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #5e6c80;
  }

  .m-popup-header {
    padding-top: 20px;
  }

  .m-popup-icon {
    text-align: center;
  }

  .m-popup-content {
    padding: 20px;

    .text-tips {
      color: #222;

      p {
        font-size: 14px;
        line-height: 1.5;
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .m-popup-footer {
    border-top: 1px solid #e1e1e1;
    /* no */
  }

  .m-popup-button {
    display: block;
    text-align: center;
    padding: 20px 0;
    color: #526bb5;
    font-size: 16px;
    @include bold;
  }
}

.popup-enter-active,
.popup-leave-active {
  transition: opacity 0.3s;
}

.popup-enter,
.popup-leave-to {
  opacity: 0;
  visibility: hidden;
}

.overlay-enter-active,
.overlay-leave-active {
  transition: opacity 0.3s;
}

.overlay-enter,
.overlay-leave-to {
  opacity: 0;
  visibility: hidden;
}

//  OTC 实名认证弹窗样式
.authentication-dialog{
  color: var(--theme-color);
  .van-button {
    background: var(--default-bg);
  }
  .van-dialog__cancel {
    color: var(--theme-color);
  }
  .van-dialog__message--has-title{
    max-height: 60vh;
    padding: 10px 25px;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: var(--theme-color);
  }
}

.u-arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 2px;
  border-right: 2px solid;
  border-top: 2px solid;
  transform: rotate(45deg);
  margin-left: 2px;
}