body{
	/*background:linear-gradient( rgba(245, 245, 245, 0.5), rgba(245, 245, 245, 0.5)), url(../img/bg.jpg) 50% 0 no-repeat fixed;*/
	background: url(../img/img.jpg) no-repeat;
	background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.modal-footer {
    text-align: center;
}
body h5{
    font-size: 34px;
    margin: 20px 0 25px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bolder;
    background-image:-webkit-linear-gradient(bottom,#629EC5,#3B9AFD);
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent; 
}
#myTab{
	margin-bottom: 20px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background: url(../img/Loginline.png) bottom no-repeat transparent;
	border: none;
	color: #00ABE9;
	font-weight: 700;
	padding: 10.5px 15px;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
	background: transparent;
	color: #595959;
	border: none;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
	margin-right: 0;
}
.nav-tabs{
	border: 0;
	font-size: 14px;
}
.nav-tabs>li{
	width: 145px;
	text-align: center;
}
.modal-dialog{
	margin: 16% auto;
}
.input-group-addon:first-child{
	height: 38px;
}
.loginWrapper{
	margin: 150px auto;
	width: 415px;
    height: 415px;
}
.bg{
    background: url(../img/img3.png) no-repeat;
    background-size: 415px 415px;
    padding: 27px 0;
}
.be-content{
	margin: 0 auto;
    width: 360px;
    height: 360px;
    background: url(../img/img2.png) no-repeat;
    background-size: 360px 360px;
    padding: 15px 34px 34px;
    font-size: 12px;
}
.br-content{
    width: 290px;
    margin: 0px auto;
    margin-bottom: 40px;
}
.be-content form{
	overflow: hidden;
}
.be-content form .form-group label {
    margin: 0;
    font-weight: normal;
    display: flex;
    line-height: 24px;
    position: relative;
}
.be-content form .form-group input[type=checkbox] {
    position: relative;
    width: 17px;
    height: 17px;
    margin-right: 5px;
}
.be-content form .form-group .login_resetPsd {
    position: absolute;
    right: 5px;
    top: 0;
    color: #508cee;
}
.bootint{
    width: 290px;
    height: 38px;
}
.bootint input{
	height: 38px;
	/*line-height: 38px;*/
}
.ioc_text{
    text-align: center;
    padding-top: 44px;
    margin-bottom: 38px;
}
.form-group{
    margin-bottom: 20px;
}
.combo-dropdown{
	height: 150px;
}
.combo-dropdown li{
	padding: 8px;
}
#loginTel_form .combo-select {
    width: 44%;
    float: left;
    padding: 0;
    margin-right: 2%;
    height: 38px;
}
#loginTel_form .tel .input-group{
	width: 54%;
}
#loginTel_form #tel+.combo-arrow {
    width: 20px;
}
#loginTel_form .tel .combo-arrow:before{
	right: 8px;
}
#loginTel_form #telphone {
    width: 100%;
    display: initial;
    padding: 0 7px;
}
#loginTel_form .combo-input {
    border: none;
    height: 36px;
    padding: 8px 4px;
    text-indent: 7px;
}
.form-group.remem{
	margin: 0;
}
.ioc_text span{
    display: block;
    font-size: 16px;
    color: #666;
}
.ioc_text img{
    height: 26px;
}
.br-text{
    font-size: 12px;
    padding-top: 10px;
}
.be-con{
    width: 190px;
    height: 14px;
    font-size: 11px;
    margin: 50px auto;
    padding-bottom: 50px;
}
.loginBtn {
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 25px;
    display: inline-block;
    background: #3B9AFD;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    behavior: url(ie-css3.htc);
}
.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:hover,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background: #00ABE9;
    border: 1px solid #00ABE9;
    color: #fff;
}