<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="manifest" href="./manifest.json">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta name="viewport" content="minimal-ui,width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name="screen-orientation" content="portrait">
    <meta name="app-config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <!-- ios -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no,email=no,address=no" />
    <meta name="google" content="notranslate" />
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait" />
    <!-- qq强制竖屏 -->
    <meta name="x5-orientation" content="portrait" />
    <!-- uc强制全屏 -->
    <meta name="full-screen" content="yes" />
    <!-- qq强制全屏 -->
    <meta name="x5-fullscreen" content="true" />
    <!-- uc应用模式 -->
    <meta name="browsermode" content="application" />
    <!-- qq应用模式 -->
    <meta name="x5-page-mode" content="app" />
    <meta name ="apple-mobile-web-app-title" content="ZB H5">
    <link rel="apple-touch-icon" href="./img/icons/icon-512x512.png" sizes="512x512">
    <link rel="apple-touch-icon" href="./img/icons/icon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="./img/icons/icon-128x128.png" sizes="128x128">
    <link rel="apple-touch-startup-image" href="./img/startup/640x113.png" media="(device-width:  320px) and (device-height:  568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="./img/startup/750x1334.png" media="(device-width:  375px) and (device-height:  667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="./img/startup/828x1792.png" media="(device-width:  414px) and (device-height:  896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="./img/startup/1125x2436.png" media="(device-width:  375px) and (device-height:  812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="./img/startup/1242x2208.png" media="(device-width:  414px) and (device-height:  736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="./img/startup/1242x2688.png" media="(device-width:  414px) and (device-height:  896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="./img/startup/1536x2048.png" media="(device-width:  768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="./img/startup/1668x2224.png" media="(device-width:  834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="./img/startup/1668x2388.png" media="(device-width:  834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="./img/startup/2048x2732.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <meta name="theme-color" content="#2F3BA2" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="app" />
<img src="./img/startup/1242x2208.png">
<!-- <script src="//cdn.bootcss.com/eruda/1.4.2/eruda.min.js"></script>
<script>eruda.init();</script> -->
</body>
</html>
